.filters {
    color: white;
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.9;
}
.locations{
    color: black;
    height: 100%;
    width: 25%;
}
.amenities{
    color: black;
    height: 100%;
    width: 25%;
}
.filters:first-child{
    border-right: 1px solid #DDDDDD;
}
h3{
    font-weight: 600;
}
h4{
    font-weight: 400;
    font-size: 14px;
}
